<div class="service-container">
<div class="service-icon">
    <img src="https://cdn-icons-png.flaticon.com/512/622/622397.png" alt="Server">
</div>
<div class="service-content">
    <p class="service-title">Server</p>
    <ul class="service-list">
    <li>- Construction (구성)</li>
    <li>- Operation (운영)</li>
    <li>- Management (관리)</li>
    </ul>
</div>
</div>

<div class="service-container">
<div class="service-icon">
    <img src="https://cdn-icons-png.flaticon.com/128/1995/1995751.png" alt="Vulnerability">
</div>
<div class="service-content">
    <p class="service-title">Vulnerability</p>
    <ul class="service-list">
    <li>- Analysis (분석)</li>
    <li>- Lecture (강의)</li>
    </ul>
</div>
</div>

<div class="service-container">
<div class="service-icon">
    <img src="https://cdn-icons-png.flaticon.com/512/1336/1336494.png" alt="Development">
</div>
<div class="service-content">
    <p class="service-title">Development</p>
    <ul class="service-list">
    <li>- CTF Problem (CTF 문제 개발)</li>
    <li>- Exploit tools (익스플로잇 공격 툴 개발)</li>
    </ul>
</div>
</div>